article {
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-areas: "head head" "nav  section" "foot  foot";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 3fr;
}

header {
    grid-area: head;
}

nav {
    grid-area: nav;
}

section {
    grid-area: section;
}

footer {
    grid-area: foot;
}
